{
    "singleQuote": false,
    "trailingComma": "all",
    "arrowParens": "always",
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "bracketSpacing": true,
    "bracketSameLine": false
}
